.outside{
	height: 2000px;
	width: 100%;
	background-color:#EFEEEE;	
}
.top{
	height: 72px;
	position: fixed;
	width: 100%;
	background-color:#EFEEEE ;
}
#navigation{
	padding-top: 10px;
}
.inside{
padding-top: 100px;	
height: 1800px;
width: 1000px;
background-color: #FFFFFF;
}
.wireframe{
	margin-top: 10px;
}
.UIdesign{
	margin-top: 10px;
}
.end{
	margin-top: 50px;
	margin-left: 50px;	
}
.fwire{
	margin-top: 30px;
	font-size: 40px;
}
.fui{
	margin-top: 50px;
	font-size: 40px;
	color: #F88489;
}

